<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-2">
    <div class="ui-inputgroup">
      <!--<img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">
      <img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">
      <img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">
      <img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">-->
    </div>
  </div>

  <div class="ui-g-12 ui-md-2">
    <h1 class="player-name">Mariusz</h1>
  </div>

  <div class="ui-g-12 ui-md-4 score">
    <div class="ui-inputgroup score-points">
      <div class="ui-inputgroup score-points score-points-point">2</div>
      <div class="ui-inputgroup score-points score-points-colon">:</div>
      <div class="ui-inputgroup score-points score-points-point">3</div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-2">
    <h1 class="player-name">Janusz</h1>
  </div>

  <div class="ui-g-12 ui-md-2">
    <div class="ui-inputgroup">
      <!--<img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">
      <img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">
      <img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">
      <img class="balls"
           src="https://image.ceneostatic.pl/data/products/29715848/i-tournament-champion-bila-czarna-8-57-2mm.jpg">-->
    </div>
  </div>
</div>
