<div class="menu-component">
  <div class="menu-component-title">
    Podział stołu
  </div>
  <div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g 12" id="division-lines">
      Ilość linii podziału: {{division}}
      <p-slider [(ngModel)]="division" [style]="{'width':'10em'}" [min]="0" [max]="4" [step]="1"
                (onChange)="sendDivisionToService()" ></p-slider>
    </div>
  </div>
</div>
<div class="menu-component">
  <div class="menu-component-title">
    Poprzednia pozycja bil
  </div>
  <div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-3"></div>
    <div class="ui-g-2">
      <p-inputSwitch [(ngModel)]="showPrevPos" (onChange)="sendChangeShowPrevPositionToService()" class="inputswitch"></p-inputSwitch>
    </div>
  </div>
</div>
<div class="menu-component">
  <div class="menu-component-title">
    Debug
  </div>
  <div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-3"></div>
    <div class="ui-g-2">
      <p-inputSwitch [(ngModel)]="debugActive" (onChange)="sendDebugActiveToService()" class="inputswitch"></p-inputSwitch>
    </div>
  </div>
</div>

