<div class="ui-g-2">
  <div class="menu-component">
    <div class="menu-component-title">
      Podział stołu
    </div>
    <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g 12" id="division-lines">
        Ilość linii podziału: {{division}}
        <p-slider [(ngModel)]="division" [style]="{'width':'10em'}" [min]="0" [max]="4" [step]="1"
                  (onChange)="sendDivisionToService()" ></p-slider>
      </div>
    </div>
  </div>
  <div class="menu-component">
    <div class="menu-component-title">
      Poprzednia pozycja bil
    </div>
    <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g 12 button-container">
        <button pButton type="button" label="Zapisz obecną pozycję"></button>
        <button pButton type="button" label="Usuń zapisaną pozycję" class="ui-button-danger" id="delete-button"></button>
        <!-- ui-button-danger nie działa, nie ładuje cssów -->
        <h4 class="first">Pokaż ostatnią pozycję:</h4>
        <p-inputSwitch [(ngModel)]="showPrevPos" class="inputswitch"></p-inputSwitch>
      </div>
    </div>
  </div>
</div>
