:host {
  font-family: Bahnschrift;
  word-spacing: 0.1em;
}

.menu-component {
  font-family: Bahnschrift;
  border: 1px dotted gray;
  background-color: lightblue;
  padding: 20px;
}
.menu-component .menu-component-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
